@font-face {
    font-family: interceptor;
    src: url("fonts/interceptor.otf");
}
@font-face {
    font-family: monof55;
    src: url("fonts/monof55.ttf");
}

:root {
    --custom-color-1: #0d1887;

    --dark-1: #05001f;
    --dark-2: #000a34 ;
    --dark-3: #001441;
    --dark-4: #00256a;
    --blue-1: #0057ff;
    --blue-2: #0092ff;
    --blue-3: #00cfff;
    --orange-1: #ff9100;
    --orange-2: #ffb800;
    --orange-3: #ffda00;

    --glass: #00ffff40;

    --project-text-color: var(--dark-1);
}

/* Hide scrollbar for Chrome, Safari and Opera */
:root::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
:root {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body {
	background-image: url("../graphics/BG/BlueGradient.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.intro {
	color: red;
	background-color: yellow;
	font-family: Arial;
	line-height: 1.5;
	letter-spacing: -1px;
}

.box {
	width: 50%;
	padding: 10px;
	border: 3px solid orange;
	border-radius: 30px 10px 5px 0px;
	background-color: blue;
}

.projectItem {
    margin: clamp(5px, 25px, 25px);
    max-width: 97vw;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--glass);
    border: 2px outset var(--glass);
    text-align: center;

	transition: 1s;
}

/* .projectFront {
	position: static;
	opacity: 1;
}

.projectBack {
	position: static;
	opacity: 0;
} */

.projectPic {
    max-width: 100%;
    image-rendering: auto;
    margin: 0;
}

@media screen and (resolution: 1dppx), 
       screen and (resolution: 2dppx), 
       screen and (resolution: 3dppx), 
       screen and (resolution: 4dppx), 
       screen and (-webkit-device-pixel-ratio: 1), 
       screen and (-webkit-device-pixel-ratio: 2), 
       screen and (-webkit-device-pixel-ratio: 3), 
       screen and (-webkit-device-pixel-ratio: 4) {
    .projectPic {
        image-rendering: pixelated;
    }
}

.projectTech {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.projectTech p {
    color: var(--project-text-color);
    margin: 0;
    font-family: interceptor;
    border: 2px solid var(--project-text-color);

    font-size: 0.9em;
    padding: 0.2em 0.75em 0.14em 0.75em;
    border-bottom-right-radius: 2em;
    border-top-left-radius: 2em;
}

.projectDesc {
    margin: .25em;
    font-family: monof55;
    font-size: x-large;
    color: var(--project-text-color);
}

.projectDescLink {
    font-style: oblique;
    font-weight: 900;
}