/* hide main scrollbar */
:root::-webkit-scrollbar {
    display: none;  /*Chrome, Safari and Opera */
}
:root {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body {
    background-color: midnightblue;
    color: white;
    margin: 0px;
}

p {
    margin: 0px;
}

#flexDiv {
    margin: 50vh 0 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    perspective: 1000px;
    border: 1px solid yellow;
}

.itemDiv {
    margin: 20px;
    transition: 1.5s, visibility 0s;
    transform-style: preserve-3d;
}

.frontDiv, .backDiv {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}


.frontDiv {
    background-color: blue;
    padding: 1em;
    border-radius: 1em;
    cursor: pointer;
    box-shadow: 3px 7px 2px 2px black;
}

.backDiv {
    position: absolute;
    background-color: aqua;
    transform: rotateY(180deg);
    border-radius: 5em;
    overflow: hidden;
    box-shadow: 14px 27px 7px 13px black;
}

.writeUp {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    flex-direction: column;
    color: black;
    overflow: scroll;
}

/* hide writeUp's scrollbar */
.writeUp::-webkit-scrollbar {
    display: none;  /*Chrome, Safari and Opera */
}
.writeUp {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.closeCardButton {    
    position: absolute;
    top: 2em;
    right: 2em;
    width: 20px;
    height: 20px;
    cursor: pointer;
    filter: invert(14%) sepia(56%) saturate(3860%) hue-rotate(231deg) brightness(87%) contrast(119%);
}