@font-face {
    font-family: huskysta;
    src: url("fonts/CubicCoreMono.ttf");
}

/* hide main scrollbar */
:root::-webkit-scrollbar {
    display: none;  /*Chrome, Safari and Opera */
}
:root {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

:root {
    --mainColor: #ffffff;
}

body {
    margin: 0px;
    background-image: url("../graphics/paddles/paddles-black.png");
}

p {
    color: var(--mainColor);
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
}

a {
    background-image: url("../graphics/BG/BlueGradient.png");
    background-size: cover;
    background-position: left top;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#titleArt {
    display: block;
    margin: 14px auto;
    width: 600px;
    max-width: 94%;
    image-rendering: pixelated;
}

#demoAnimation {
    display: block;
    image-rendering: pixelated;
    margin: 5px auto;
    max-width: 100%;
}

.description {
    text-align: center;
    margin: 5px auto 1em;
}

.sectionHeader {
    text-align: center;
    font-size: 4rem;
    margin: 3rem auto 1rem;
}

.hrLine {
    border: 2px solid var(--mainColor);
    border-radius: 3px;
    width: clamp(50%,500px,90%);
    margin: 0rem auto 1rem;
}

#controlsReference {
    display: flex;
    flex-direction: column;
}

.control {
    display: flex;
    flex-direction: row;
    margin: 0.5em;
    padding: 0px;
    align-items: center;
    justify-content: center;
}

.control p {
    /* display: inline; */
    /* height: 48px; */
    /* padding: 20px; */
    margin: 0px 0.5em;
    font-size: x-large;
}

.control img {
    image-rendering: pixelated;
    height: 48px;
}

#links {
    margin: 0px auto 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.link {
    width: 64px;
    image-rendering: pixelated;
    margin: 0px 16px;
}

* {
    /* border: 1px solid white; */
}