:root {
    --custom-color-1: #0d1887;

    --dark-1: #05001f;
    --dark-2: #000a34 ;
    --dark-3: #001441;
    --dark-4: #00256a;
    --blue-1: #0057ff;
    --blue-2: #0092ff;
    --blue-3: #00cfff;
    --orange-1: #ff9100;
    --orange-2: #ffb800;
    --orange-3: #ffda00;
    --coral-1: #ffe4ff;
    --coral-2: #ffa0ff;
    --coral-3: #ff0073;
    --link-hover-back: #00b3ff38;

    --glass: #44c1ff60;
    --glass-2: #44c1ff67;
    --card-back: rgba(6, 75, 139, 0.992);
    --shadow: rgba(7, 0, 142, 0.096);
    
    --project-text-color: var(--dark-2);
    
    --fs-xxl: 3.33rem;
    --fs-xl: 2.5rem;
    --fs-l: 2rem;
    --fs-m: 1.5rem;
    --fs-s: 1rem;
    --fs-xs: 0.9rem;
    --fs-xxs: xx-small;
}

@font-face {
    font-family: interceptor;
    src: url("/fonts/interceptor.otf");
}
@font-face {
    font-family: monof55;
    src: url("/fonts/monof55.ttf");
}

::-webkit-scrollbar {
    width: 0.75rem;
    height: 0;
}

::-webkit-scrollbar-track {
    background: var(--blue-2);
}

::-webkit-scrollbar-thumb {
    background: var(--blue-1);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--dark-4);
}

@supports (scrollbar-color: red blue) {
    * {
        scrollbar-color: var(--blue-1) var(--blue-3);
    }
}

html {
    background-position: left top;
    background-attachment: fixed;
    background-size: cover;
    background-image: url("/graphics/BG/BlueGradient.png");
}

body {
    margin: 0;   
}

img {
    image-rendering: auto;
}
@media screen and (resolution: 1dppx), 
       screen and (resolution: 2dppx), 
       screen and (resolution: 3dppx), 
       screen and (resolution: 4dppx), 
       screen and (-webkit-device-pixel-ratio: 1), 
       screen and (-webkit-device-pixel-ratio: 2), 
       screen and (-webkit-device-pixel-ratio: 3), 
       screen and (-webkit-device-pixel-ratio: 4) {
    img {
        image-rendering: pixelated;
    }
}

p, h1, h2, h3, h4, h5 {
    font-family: monof55;
    color: var(--coral-1);
}

h1 {
    margin: 3.5rem auto 1rem;
    text-align: center;
    font-size: var(--fs-xxl);
}

h2 {
    font-size: var(--fs-xl);
}

h3 {
    font-size: var(--fs-l);
}

p {
    font-size: var(--fs-m);
}

p > a {
    color: var(--coral-2);
    
    transition: 0.25s;
    cursor: pointer;
}

p > a:hover {
    background-color: var(--link-hover-back);
}

.outlinedSection {
    border: 5px solid var(--coral-1);
    border-radius: clamp(16px, 5rem, 64px);
}

.outlinedSection p {
    margin: 0.5rem 0;
    max-width: 100%;

    text-align: center;
    color: var(--coral-1);
}

#projectCardInstructions {
    margin: 95vh auto 0;

    padding: 1rem;
    width: fit-content;
    max-width: 75vw;
    min-width: 25vw;

    background-color: var(--glass);
}

#projects {
    margin: 3.5rem 0 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    perspective: 2000px;
}

.project {
    margin: 25px;
    z-index: 2;

    transition: 1s, visibility 0s, transform 0s;
    transform-style: preserve-3d;
}

.projectFront, .projectBack {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.projectFront {
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 4px;

    background-color: var(--glass);
    border: 2px outset var(--glass);
    border-radius: 10px;

    box-shadow: 5px 14px 4px 0 var(--shadow);
    cursor: pointer;
}

.projectFront > img {
    margin: 0;
    max-width: 100%;
    max-height: 100%;
}

.projectFront p {
    color: var(--project-text-color);
}

.projectFront > div {
    align-self: flex-start;
    
    display: flex;
    flex-direction: row;
}

.projectFront > div > p {
    margin: 0;
    
    padding: 0.2em 0.75em 0.14em 0.75em;
    
    border: 2px solid var(--project-text-color);
    border-bottom-right-radius: 2em;
    border-top-left-radius: 2em;
    
    font-family: interceptor;
    font-size: var(--fs-xs);
    
}

.projectFront > div p:first-child {
    padding-left: 0.5em;
    
    border-top-left-radius: 0em;
}

.projectFront > p {
    margin: .25em;
}

#aqu-surf > .projectFront {
    min-width: fit-content;
    width: 74vw;
    padding-top: 64vh;
}

#aqu-surf > .projectFront > div {
    align-self: center;
}

#aqu-surf > .projectFront > div p:first-child {
    padding: 0.2em 0.75em 0.14em 0.75em;
    
    border-top-left-radius: 2em;
}

.projectBack {
    position: absolute; 
    overflow: hidden;
    
    background-color: var(--card-back);
    color: var(--coral-1);
    border-radius: clamp(5vw, 50px, 50px);
    
    transition: border-radius 2s;
    transform: rotateY(180deg);
    box-shadow: 5px 14px 4px 0 var(--shadow);
}

.projectXButton {
    position: absolute;
    top: clamp(25px, 2.5vw, 40px);
    right: clamp(25px, 2.5vw, 40px);;
    width: 20px;
    height: 20px;

    content:url("/graphics/projectXButton.svg");
    filter: invert(63%) sepia(30%) saturate(3651%) hue-rotate(316deg) brightness(102%) contrast(105%);
    cursor: pointer;
}

.projectBack > h1 {
    margin: 0.5rem auto;
    width: fit-content;

    text-align: center;
    border-style: none none solid none;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    
    color: var(--coral-1);
}

.projectBackLinks {
    margin: 0 auto 7px;
    width: 320px;
    max-width: 80%;

    display: flex;
    justify-content: center;
    gap: 8px;

    border-style: none none solid none;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    
    color: var(--coral-1);
}

.projectBackScrollable {
    margin: 0 auto;
    width: 100%;
    height: 80%;
    box-sizing: border-box;

    padding: 0 min(3%, 24px);

    overflow: scroll;
}

.projectBackScrollable::-webkit-scrollbar {
    width: 0.5rem;
}

.projectBackScrollable::-webkit-scrollbar-track {
    border-radius: 1rem;
}

.projectBackScrollable::-webkit-scrollbar-thumb {
    border-radius: 1rem;
}

.projectSummary {
    margin: 1rem auto;
    max-width: min(94%, 1000px);
    
    text-align: center;
    font-size: var(--fs-l);
    color: var(--orange-1);
}

.projectBackScrollable > h1 {
    margin: 3.33rem auto 1rem;
    min-width: 33%;
    max-width: fit-content;
    
    padding: 0.5rem 1rem;
    text-align: center;

    border: 0.25rem dashed var(--coral-1);
    border-radius: 2rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.projectWriteup::-webkit-scrollbar {
    width: 0;
    height: 0;
}

@supports (scrollbar-color: red blue) {
    .projectWriteup {
        scrollbar-width: none;
    }
}

.projectWriteup h1 {
    margin: 0 0 0.25em;
    
    font-size: var(--fs-xl);
    text-decoration: underline;
    text-align: left;
}

.projectWriteup h2 {
    margin: 0.25em;
    
    font-size: var(--fs-l);
    text-decoration: underline dotted;
    text-align: left;
}

.projectWriteup p {
    margin: 0.5em 0;
    
    text-indent: 2ch;
}

.projectWriteup code {
    background-color: var(--dark-4);
    
    font-size: 0.85em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: var(--coral-3);
}

.projectWriteup > section {
    margin: 0.5em 0 2rem;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

.projectWriteup > section > section {
    margin-right: 1ch;
    
    flex-grow: 1;
    flex-basis: clamp(54ch, 40%, 40%);
}

.projectWriteup > section > .image {
    margin: 0 auto;
    max-width: 100%;
    align-self: center;
    
    padding: 0.5rem;
    
    background-color: var(--dark-4);
    border: 2px dashed var(--coral-1);
    border-radius: 1rem;
}

.projectWriteup > section > .image img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
    align-self: center;
}

.projectWriteup > section > .image p {
    text-align: center;
    font-size: var(--fs-s);
    text-indent: 0;
}

#waterPlayground {
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

#toggleScroll {
    margin: 1rem 10vw;
    width: 80vw;
    height: 80px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    background-color: var(--coral-3);
    border: 5px outset var(--glass);
    border-radius: 40px;
    
    color: var(--coral-1);
    text-align: center;
    
    transition: 1s;
    cursor: pointer;
}

#toggleScroll p {
    margin: 0;

    overflow: hidden;
}

#toggleScroll svg {
    height: 48px;
    width: 48px;

    overflow: visible;
}

#meSection {
    margin: 1rem auto;
    width: clamp(1px, 90vw, 1500px);
    box-sizing: border-box;
    
    padding: clamp(16px, 1.5rem, 64px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    
    background-color: var(--glass);
}

#meSection img {
    width: clamp(128px, 25vw, 256px);

    border-radius: 32px;
    image-rendering: auto;
}

#skillsSection {
    margin: 1rem auto;
    max-width: clamp(1px, 90vw, 1500px);
    box-sizing: border-box;
    
    padding: clamp(16px, 1rem, 64px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4px;
    
    background-color: var(--glass);
    border-radius: clamp(16px, 5rem, 64px);
}

#skillsSection div {
    min-width: clamp(64px, 5vw, 128px);
    min-height: clamp(64px, 5vw, 128px);
    
    padding: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    border: 1px dashed var(--coral-2);
    border-radius: 16px;
}

#skillsSection img {
    margin: 0.25rem auto;
    width: clamp(48px, 5vw, 56px);

    image-rendering: auto;
}

#linksSection {
    margin: 1rem auto;
    width: fit-content;
    
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* * {
    border: 1px solid black;
} */