/* hide main scrollbar */
:root::-webkit-scrollbar {
    display: none;  /*Chrome, Safari and Opera */
}
:root {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

:root {
    --fs-xxl: 4rem;
    --fs-xl: 2rem;
    --fs-l: 1.75rem;
    --fs-m: 1.33rem;
    --fs-s: small;
    --fs-xs: x-small;
    --fs-xxs: xx-small;

    --rf-white: white;
}

body {
    margin: 0px;
    background-image: url("/graphics/reform/reform-blue-grid.png");
}

p, h1, h2, h3, button {
    color: var(--rf-white);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

p {
    font-size: var(--fs-m);
    margin: 0.5rem 3rem;
}

h1 {
    font-size: var(--fs-xxl);
    margin: 2rem auto 0.25em;
}

h2 {
    font-size: var(--fs-l);
}

h3 {
    font-size: var(--fs-m);
    margin: 0.2rem auto;
    text-decoration: underline;
}

a {
    color: var(--mainColor);
    text-decoration: underline;
}

button {
    display: block;
    width: clamp(350px, 50vw, 90vw);
    height: 4rem;
    margin: 1rem auto;
    background-color: #0062ff55;
    border: 0.1rem solid white;
    border-radius: 1.25rem;
    font-size: var(--fs-xl);
    transition: 0.5s;
}

button:hover {
    border-radius: 3rem;
    background-color: #008cff29;
    cursor: pointer;
}

#basicDemo {
    display: block;
    margin: 1rem auto;
    max-width: 100%;
    padding: 2px;
    border: 2px dashed white;
}

#titleArt {
    display: block;
    margin: 14px auto;
    width: 600px;
    max-width: 94%;
    image-rendering: pixelated;
}

#description {
    font-size: var(--fs-xl);
    text-align: center;
    margin: 5px auto 1em;
}

.hr1 {
    border: 2px dashed var(--rf-white);
    width: clamp(50%,500px,90%);
    margin: 1rem auto;
}

.control, .hotkey {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.control {
    margin: 2rem 1rem;
}

.hotkey {
    margin: 1.5rem 1rem;
}

.control .details {
    flex-grow: 1;
    flex-basis: 30%;
    max-width: 36rem;
}

.hotkey .details {
    /* flex-basis: 80%; */
    max-width: 100%;
}

.heading {
    border: 2px var(--rf-white);
    display: inline-flex;
    flex-wrap: wrap;
    gap: 7px;
}

.control .heading {
    border-style: dashed none none dashed;
    padding: 0.4rem; 
}

.hotkey .heading {
    border-style: dashed dashed dashed dashed;
    padding: 1em;
}

.heading h2 {
    display: inline-block;
    margin: 0px;
    text-align: left;
}

.heading img {
    image-rendering: pixelated;
    display: inline;
    max-width: 100%;
    align-self: center;
}

.details p {
    text-align: left;
    margin: 0.75em 1em 1em;
}

.hotkey .details p {
    margin: 0.25em;
}

.control > img {
    max-width: 100%;
    align-self: center;
    padding: 2px;
    border: 2px dashed white;
}

#links {
    margin: 0px auto 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#links img {
    image-rendering: pixelated;
    margin: 0px 16px;
}

/* * {
    border: 1px solid var(--rf-white);
} */