/* Hide scrollbar for Chrome, Safari and Opera */
:root::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
:root {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body {
    background-color: midnightblue;
    color: white;
    margin: 0px;
}

p {
    margin: 0px;
}

#flexDiv {
    margin: 50vh 0px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    border: 1px solid yellow;
}

.itemDiv {
    margin: 20px;
    transition: 1.5s, visibility 0s;
    /* border: 1px solid yellow; */
    transform-style: preserve-3d;
    flex-grow: grow;
}

.frontDiv, .backDiv {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.frontDiv::-webkit-scrollbar, .backDiv::-webkit-scrollbar {
    display: none;
}

.frontDiv {
    background-color: blue;
    box-sizing: border-box;
    padding: 1em;
    border-radius: 1em;
    cursor: pointer;
}

.backDiv {
    position: absolute;
    padding: 30px;
    display: flex;
    flex-direction: column;
    background-color: aqua;
    color: black;
    transform: rotateY(180deg);
    box-sizing: border-box;
    border-radius: 5em;
}

.closeCardButton {    
    align-self: flex-end;
    margin: 1em;
    width: 20px;
    height: 20px;
    cursor: pointer;
    filter: invert(14%) sepia(56%) saturate(3860%) hue-rotate(231deg) brightness(87%) contrast(119%);
}