@font-face {
    font-family: "interceptor italic";
    font-style: italic;
    src: local("interceptor italic"),
        url("fonts/interceptor italic.otf");
}
@font-face {
    font-family: monof55;
    src: local(monof55),
        url("fonts/monof55.ttf");
}

body {
    margin: 0;
    background-image: linear-gradient(192deg, #00f6ff, #005eff);
    background-position: left top;
    background-attachment: fixed;
}

.mainHeader {
    position: sticky;
    top: 0;
    height: 53px;
    background-color: hsl(49, 100%, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainHeaderLogo {
    height: 57%;
}

.mainHeaderName {
    color: #4400ff;
    font-family: monof55;
}

.projectsGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    margin-top: 5vh;
}

.projectItem {
    margin: clamp(15px, 25px, 25px);
    /* min-width: 15vw;
    max-width: 80vw;
    min-height: 30vh;
    max-height: 80vh; */
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    text-align: center;    
}

.projectThumbnail {
    width: auto;
    min-width: 200px;
    max-width: 77vw;
}

/* @media only screen and (max-width: 768px) {
    .projectThumbnail {
        width: 77vw;
    }
    .projectItem {
        margin: 15px;
        background-color: red;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1920) {
    .projectThumbnail {
        min-width: auto;
        max-width: 100%;
    }
    .projectItem {
        background-color: blue;
    }
}

@media only screen and (min-width: 1921px){
    .projectThumbnail {
        min-width: 21vw;
    }
    .projectItem {
        background-color: green;
    }
} */

.projectItem p {
    font-family: monof55;
    font-size: 1.25rem;
    color: #00a2ff;
}

/* {
    border: 1px inset black;
} */