/* hide main scrollbar */
:root::-webkit-scrollbar {
    display: none;  /*Chrome, Safari and Opera */
}
:root {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

@font-face {
    font-family: interceptor;
    src: url("fonts/interceptor.otf");
}
@font-face {
    font-family: monof55;
    src: url("fonts/monof55.ttf");
}

:root {
    --custom-color-1: #0d1887;

    --dark-1: #05001f;
    --dark-2: #000a34 ;
    --dark-3: #001441;
    --dark-4: #00256a;
    --blue-1: #0057ff;
    --blue-2: #0092ff;
    --blue-3: #00cfff;
    --orange-1: #ff9100;
    --orange-2: #ffb800;
    --orange-3: #ffda00;

    --glass: #44c1ff60;
    --glass-2: rgba(6, 75, 139, 0.992);

    --project-text-color: var(--dark-2);
}

body {
    margin: 0px;

    background-image: url("graphics/BG/BlueGradient.png");
    background-size: cover;
    background-position: left top;
    background-attachment: fixed;
}

.projectsFlex {
    margin: 100vh 0 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    perspective: 2000px;

    /* border: 1px solid yellow; */
}

.projectCard {
    margin: 25px;

    transition: 1s, visibility 0s;
    transform-style: preserve-3d;

    /* border: 1px solid yellow; */
}

.projectCardFront, .projectCardBack {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.projectCardFront {
    padding: 14px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    cursor: pointer;
    background-color: var(--glass);
    border: 2px outset var(--glass);
    border-radius: 15px;
    box-shadow: 5px 14px 4px 0 rgba(7, 0, 142, 0.096);
}

.projectCardBack {
    position: absolute; 

    transform: rotateY(180deg);

    color: white;
    background-color: var(--glass-2);

    transition: border-radius 2s;
    border: 14px outset var(--glass-2);
    border-radius: clamp(5vw, 50px, 50px);
    box-shadow: 5px 14px 4px 0 rgba(7, 0, 142, 0.096);
}

.projectWriteup {
    padding: 30px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: scroll;

    display: flex;
    flex-direction: column;

    color: black;
}
/* hide writeUp's scrollbar */
.projectWriteup::-webkit-scrollbar {
    display: none;  /*Chrome, Safari and Opera */
}
.projectWriteup {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.closeCardButton {    
    position: absolute;
    top: 2em;
    right: 2em;
    width: 20px;
    height: 20px;
    cursor: pointer;
    filter: invert(14%) sepia(56%) saturate(3860%) hue-rotate(231deg) brightness(87%) contrast(119%);
}

.projectPic {
    max-width: 100%;
    max-height: 100%;
    image-rendering: auto;
    margin: 0;
}

@media screen and (resolution: 1dppx), 
       screen and (resolution: 2dppx), 
       screen and (resolution: 3dppx), 
       screen and (resolution: 4dppx), 
       screen and (-webkit-device-pixel-ratio: 1), 
       screen and (-webkit-device-pixel-ratio: 2), 
       screen and (-webkit-device-pixel-ratio: 3), 
       screen and (-webkit-device-pixel-ratio: 4) {
    .projectPic {
        image-rendering: pixelated;
    }
}

.projectTech {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.projectTech p {
    color: var(--project-text-color);
    margin: 0;
    font-family: interceptor;
    border: 2px solid var(--project-text-color);

    font-size: 0.9em;
    padding: 0.2em 0.75em 0.14em 0.75em;
    border-bottom-right-radius: 2em;
    border-top-left-radius: 2em;
}

/* .projectTech :nth-child(1) {
    padding: 0.10em 0.75em 0.05em 0.25em;
    border-bottom-right-radius: 2em;
}

.projectTech :nth-child(2) {
    font-size: 0.9em;
    padding: 0.20em 0.75em 0em 0.75em;
    border-bottom-right-radius: 2em;
    border-top-left-radius: 2em;
} */

.projectDesc {
    margin: .25em;
    font-family: monof55;
    font-size: x-large;
    color: var(--project-text-color);
    /* background-image: url("graphics/BG/BlueGradient.png");
    background-size: cover;
    background-position: left top;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.projectDescLink {
    font-style: oblique;
    font-weight: 900;
}

/* * {
    border: 1px solid black;
} */