@font-face {
    font-family: interceptor;
    src: url("fonts/interceptor.otf");
}
@font-face {
    font-family: monof55;
    src: url("fonts/monof55.ttf");
}

body {
    margin: 0;
    background-image: url("graphics/BG/BlueGradient.png");
    background-size: cover;
    background-position: left top;
    background-attachment: fixed;
}

.mainHeader {
    position: sticky;
    top: 0;
    height: 53px;
    min-height: 7vh;
    background-image: url("graphics/BG/JuicyOrange.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainHeaderLogo {
    font-family: monof55;
    font-size: 53px;
    background-image: url("graphics/BG/BlueGradient.png");
    background-size: cover;
    background-position: left top;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

img {
    max-width: 100%;
}

@media screen and (resolution: 1dppx), 
       screen and (resolution: 2dppx), 
       screen and (resolution: 3dppx), 
       screen and (resolution: 4dppx), 
       screen and (-webkit-device-pixel-ratio: 1), 
       screen and (-webkit-device-pixel-ratio: 2), 
       screen and (-webkit-device-pixel-ratio: 3), 
       screen and (-webkit-device-pixel-ratio: 4) {
    img {
        image-rendering: pixelated;
    }
}

/* * {
    border: 1px inset black;
} */